<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisen.dao.UserDao">
  <!-- 目的：为dao接口方法提供sql语句配置 -->
  <select id="findUserByUseridandUserpassword" resultType="com.hisen.entity.User" parameterType="String">
    <!-- 具体的sql -->
    SELECT
    userid,
    userpassword
    FROM
    userinfo
    WHERE
    userid = #{0}
    AND
    userpassword = #{1}
  </select>
  
  <select id="findUserByUserid" resultType="com.hisen.entity.User" parameterType="String">
    <!-- 具体的sql -->
    SELECT
    userid
    FROM
    userinfo
    WHERE
    userid = #{0}
  </select>
  
  <insert id="addUser">
    INSERT INTO userinfo(`userid`,`userpassword`,`usernickname`,`useremail`,`usersignature`,`userheadimg`)
    VALUES(#{userid}, #{userpassword},'', #{useremail},'','' )
  </insert>
  
  <update id="createFriendsuseridTable">  
       CREATE TABLE `friends${userid}` (  
	  `userid` varchar(11) DEFAULT NULL,  
	  `userpassword` varchar(24) DEFAULT NULL,  
	  `usernickname` varchar(255) DEFAULT NULL,  
	  `useremail` varchar(255) DEFAULT NULL,  
	  `usersignature` varchar(255) DEFAULT NULL,  
	  `userheadimg` varchar(255) DEFAULT NULL  
	) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC;  
   </update>  
  
  


</mapper>